pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 1rem
}

code.hljs {
    padding: var(--gap-sm) var(--gap-md);
}

.hljs {
    color: var(--color-text);
    background: var(--color-base);
}

.hljs-comment {
    color: var(--color-muted);
}

.hljs-tag {
    color: var(--color-muted);
}

.hljs-operator,.hljs-punctuation,.hljs-subst {
    color: var(--color-text);
}

.hljs-operator {
    opacity: .7
}

.hljs-bullet,.hljs-deletion,.hljs-name,.hljs-selector-tag,.hljs-template-variable,.hljs-variable {
    color: var(--color-text);
}

.hljs-attr,.hljs-link,.hljs-literal,.hljs-number,.hljs-symbol,.hljs-variable.constant_ {
    color: var(--color-rose)
}

.hljs-class .hljs-title,.hljs-title,.hljs-title.class_ {
    color: var(--color-gold);
}

.hljs-strong {
    font-weight: 700;
    color: var(--color-love);
}

.hljs-addition,.hljs-code,.hljs-string,.hljs-title.class_.inherited__ {
    color: var(--color-rose);
}

.hljs-built_in,.hljs-doctag,.hljs-keyword.hljs-atrule,.hljs-quote,.hljs-regexp {
    color: var(--color-pine);
}

.hljs-attribute,.hljs-function .hljs-title,.hljs-section,.hljs-title.function_,.ruby .hljs-property {
    color: var(--color-foam);
}

.diff .hljs-meta,.hljs-keyword,.hljs-template-tag,.hljs-type, hljs-emphasis {
    color: var(--color-pine);
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-meta,.hljs-meta .hljs-keyword,.hljs-meta .hljs-string {
    color: var(--color-subtle);
}

.hljs-meta .hljs-keyword,.hljs-meta-keyword {
    font-weight: 700
}

.hljs-comment {
    font-style: italic;
}

