@import "_reset.css";
@import "hljs.css";
@import url('https://fonts.googleapis.com/css2?family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html * {
    transition: color ease-in-out 300ms;
    &::selection {
        background-color: var(--color-subtle);
        color: var(--color-base);
    }
}

html {
    --max-body-width: 1440px;
    --max-article-width: 760px;
    --max-width-with-gap: calc(100svw - calc(2 * var(--gap)));

    --sans: 'Inter', sans-serif;
    --serif: 'IPAPMincho', serif;
    --mono: 'Victor Mono', monospace;

    --color-base: hsl(32deg, 60%, 98%);
    --color-surface: hsl(35deg 100% 100%);
    --color-overlay: hsl(33deg, 43%, 91%);
    --color-muted: hsl(257deg, 9%, 61%);
    --color-subtle: hsl(248deg, 12%, 52%);
    --color-text: hsl(248deg, 19%, 40%);
    --color-love: hsl(343deg, 35%, 55%);
    --color-gold: hsl(35deg, 81%, 56%);
    --color-rose: hsl(3deg, 53%, 67%);
    --color-pine: hsl(197deg, 53%, 34%);
    --color-foam: hsl(189deg, 30%, 48%);
    --color-iris: hsl(268deg, 21%, 57%);
    --color-hl-low: hsl(25deg, 35%, 93%);
    --color-hl-med: hsl(10deg, 9%, 86%);
    --color-hl-high: hsl(315deg, 4%, 80%);

    @media (prefers-color-scheme: dark) {
        --color-base: hsl(249deg, 22%, 12%);
        --color-surface: hsl(247deg, 23%, 15%);
        --color-overlay: hsl(248deg, 25%, 18%);
        --color-muted: hsl(249deg, 12%, 47%);
        --color-subtle: hsl(248deg, 15%, 61%);
        --color-text: hsl(245deg, 50%, 91%);
        --color-love: hsl(343deg, 76%, 68%);
        --color-gold: hsl(35deg, 88%, 72%);
        --color-rose: hsl(2deg, 55%, 83%);
        --color-pine: hsl(197deg, 49%, 38%);
        --color-foam: hsl(189deg, 43%, 73%);
        --color-iris: hsl(267deg, 57%, 78%);
        --color-hl-low: hsl(249deg, 15%, 28%);
        --color-hl-med: hsl(248deg, 13%, 36%);
        --color-hl-high: hsl(248deg, 10%, 45%);
    }

    --root-font-size: 16px;
    --font-xs: .75rem;
    --font-sm: 1rem;
    --font-md: 1.125rem;
    --font-lg: 1.5rem;
    --font-xl: 2rem;
    --font-xxl: 2.5rem;

    @media (max-width: 720px) {
        --root-font-size: 14px;
    }

    --gap-xxs: .125rem;
    --gap-xs: .25rem;
    --gap-sm: .5rem;
    --gap-md: 1rem;
    --gap-lg: 1.5rem;
    --gap-xl: 2rem;
    --gap-xxl: 2.5rem;

    --border-radius: 2px;

    display: grid;
    place-items: center;
    font-size: var(--root-font-size);
    font-family: var(--sans);
    font-variant-ligatures: common-ligatures;
    color: var(--color-text);
    background-color: var(--color-base);
    scrollbar-color: var(--color-text) var(--color-surface);
    scrollbar-width: thin;
    height: 100%;
    scroll-behavior: smooth;
}


body {
    --gap: var(--gap-md);
    --body-dimension: calc(100% - calc(2 * var(--gap)));
    display: grid;
    place-items: stretch;
    grid-template:
        "header header" fit-content(100%)
        "nav main" auto
        "footer footer" fit-content(100%)
        / fit-content(100%) auto;
    padding: var(--gap);
    gap: var(--gap);
    overflow: hidden;
    height: var(--body-dimension);
    width: var(--body-dimension);
    max-width: var(--max-body-width);
    @media (max-width: 1080px) {
        grid-template: 
            "header" fit-content(100%)
            "main" auto
            "footer" fit-content(100%)
            / auto;
    }

    @media (max-width: 720px) {
        --gap: var(--gap-sm);
    }
}

header {
    display: flex;
    grid-area: header;
    place-self: start stretch;
    font-size: var(--font-md);
    font-weight: 500;
    padding: var(--gap-sm) var(--gap-md);
    justify-content: space-between;
    button#menu {
        cursor: pointer;
        display: none;
        background-color: transparent;
        border: none;
        color: var(--color-surface);

        @media (max-width: 1080px) {
            display: block;

            .home & {
                display: none !important;
            }
        }
    }
}

nav {
    grid-area: nav;
    overflow: auto;
    background-color: var(--color-base);
    z-index: 100;

    @media (max-width: 1080px) {
        display: none;
        &.home {
            display: unset;
            grid-area: main;
        }
        &.show {
            display: unset;
            grid-area: main;

        }
    }

    ul {
        display: grid;
        gap: var(--gap-sm);
        list-style: none;
        padding: 0;
        li {
            transition: background-color ease-in-out 300ms;
            padding: var(--gap-sm) var(--gap-md) var(--gap-sm) var(--gap-sm);
            font-size: var(--font-md);
            &:before {
                content: "◼";
                color: inherit;
                padding-right: var(--gap-sm);
            }
            &:hover {
                background-color: var(--color-hl-low);
            }
        }
    }
}


main {
    grid-area: main;
    max-height: 100%;
    max-width: 100%;
    overflow: auto;
    @media (max-width: 1080px) {
        place-self: center;
    }
}

header, 
footer, 
li.current {
    color: var(--color-base);
    background-color: var(--color-text);
    border-radius: var(--border-radius);
    transition: background-color ease-in-out 300ms;
    &:hover {
        background-color: var(--color-text);
    }
    a {
        color: var(--color-overlay);
        &:visited {
            color: var(--color-base);
        }
        &:hover {
            color: var(--color-hl-high);
        }
    }
}

footer {
    grid-area: footer;
    font-weight: 600;
    padding: var(--gap-sm) var(--gap-md);
    font-size: var(--font-sm);
    text-align: end;
}

article {
    --gap: var(--gap-lg);
    max-width: var(--max-article-width);
    background-color: var(--color-surface);
    border-radius: var(--border-radius);
    padding: var(--gap);

    @media (max-width: 1080px) {
        max-width: calc(100% - calc(2 * var(--gap)));
    }

    @media (max-width: 720px) {
        --gap: var(--gap-md) !important;
    }
}

code {
    padding: var(--gap-sm);
    border-radius: var(--border-radius);
    font-family: var(--mono);
    line-height: 1.5rem;
    font-weight: 600;
    font-size: var(--font-sm);
    :not(pre) > & {
        font-weight: 700;
        border-radius: var(--border-radius);
        padding: var(--gap-xxs) var(--gap-sm);
        background-color: var(--color-hl-low);
    }
    pre > & {
        margin-bottom: var(--gap-lg);
    }
}

ul {
    padding-left: var(--gap-lg);
    list-style-type: disc;
}

sup {
    --font-size: var(--font-xs);
    font-weight: 500;
    position: relative;
    top: calc(var(--font-size) * -.75);
    font-size: var(--font-size);
}

blockquote {
    padding: var(--gap-xs) var(--gap-xs) var(--gap-xs) var(--gap-md);
    border-left: .25rem solid var(--color-hl-med);
    margin-bottom: var(--gap-md);
}

h1, h2, h3,
h4, h5, h6 {
    --vpadding: var(--gap-lg);
    font-family: var(--serif);
    font-weight: bold;
    padding-bottom: var(--vpadding);
}

h1 {
    --vpadding: var(--gap-lg);
    font-size: var(--font-xxl);
}

h2 {
    --vpadding: var(--gap-xl);
    font-size: var(--font-xl);
    padding-top: var(--vpadding);
}

a {
    text-decoration: none;
    color: var(--color-pine);
    &:visited {
        color: var(--color-iris);
    }
}

hr {
    --color: var(--color-hl-low);
    width: 16rem;
    max-width: 100%;
    border: solid 2px var(--color);
    margin: var(--gap-xl) auto;
}

p {
    font-size: var(--font-md);
    line-height: 1.5;
    padding-bottom: var(--gap-md);
}
